// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2021 Rockchip Electronics Co., Ltd.
 *
 */

/dts-v1/;
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/leds/common.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include <dt-bindings/soc/rockchip,vop2.h>
#include "rk3568.dtsi"

/ {
	model = "Xbrother RBC02-PRO Board";
	compatible = "xbrother,rbc02-pro", "rockchip,rk3568";

	aliases {
		/delete-property/ serial0;
		/delete-property/ serial1;
		/delete-property/ serial2;
		/delete-property/ serial3;
		/delete-property/ serial4;
		/delete-property/ serial5;
		/delete-property/ serial6;
		/delete-property/ serial7;
		/delete-property/ serial8;
		/delete-property/ serial9;
		/delete-property/ i2c1;
		/delete-property/ i2c2;
		/delete-property/ i2c3;
		/delete-property/ i2c4;
		/delete-property/ i2c5;
		/delete-property/ spi0;
		/delete-property/ spi1;
		/delete-property/ spi2;
		/delete-property/ spi3;
		serial0 = &uart2;
		serial1 = &uart0;
		serial2 = &uart3;
		serial3 = &uart4;
		serial4 = &uart5;
		serial5 = &uart8;
		serial6 = &uart9;
		ethernet0 = &gmac1;
		ethernet1 = &gmac0;
		mmc0 = &sdhci;
		mmc1 = &sdmmc0;
		usb1 = &usb_host0_ehci;
		usb2 = &usb_host1_ehci;
		usb3 = &usb_host0_ohci;
		usb4 = &usb_host1_ohci;
		usb7 = &usb_host0_xhci;
		usb5 = &usb_host1_xhci;
		i2c1 = &gpioi2c1;
		i2c2 = &gpioi2c2;
		i2c5 = &gpioi2c5;
	};

	chosen: chosen {
		stdout-path = "serial0:115200n8";
	};

	dc_12v: dc-12v {
		compatible = "regulator-fixed";
		regulator-name = "dc_12v";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
	};

	leds {
		compatible = "gpio-leds";
		heartbeat: heartbeat {
			label = "heartbeat";
			gpios = <&gpio4 RK_PC4 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "heartbeat";
		};
	};

	xbrother_gpio {
		compatible = "xbrother,gpio";
		#size-cells = <0>;
		sys_name = "xbrother";
		di08 {
			label = "di08";
			gpios = <&tca6424 0 GPIO_ACTIVE_LOW>;
			direction = "input";
		};
		di07 {
			label = "di07";
			gpios = <&tca6424 1 GPIO_ACTIVE_LOW>;
			direction = "input";
		};
		di06 {
			label = "di06";
			gpios = <&tca6424 2 GPIO_ACTIVE_LOW>;
			direction = "input";
		};
		di05 {
			label = "di05";
			gpios = <&tca6424 3 GPIO_ACTIVE_LOW>;
			direction = "input";
		};
		di04 {
			label = "di04";
			gpios = <&tca6424 4 GPIO_ACTIVE_LOW>;
			direction = "input";
		};
		di03 {
			label = "di03";
			gpios = <&tca6424 5 GPIO_ACTIVE_LOW>;
			direction = "input";
		};
		di02 {
			label = "di02";
			gpios = <&tca6424 6 GPIO_ACTIVE_LOW>;
			direction = "input";
		};
		di01 {
			label = "di01";
			gpios = <&tca6424 7 GPIO_ACTIVE_LOW>;
			direction = "input";
		};
		do01 {
			label = "do01";
			gpios = <&tca6424 8 GPIO_ACTIVE_HIGH>;
			direction = "low";
		};
		do02 {
			label= "do02";
			gpios = <&tca6424 9 GPIO_ACTIVE_HIGH>;
			direction = "low";
		};
		e2wp {
			label = "e2wp";
			gpios = <&gpio1 0 GPIO_ACTIVE_HIGH>;
			direction = "high";
		};
		12va-ctl {
			label = "12va-ctl";
			gpios = <&gpio1 8 GPIO_ACTIVE_LOW>;
			direction = "low";
		};
		12vb-ctl {
			label = "12vb-ctl";
			gpios = <&gpio1 10 GPIO_ACTIVE_LOW>;
			direction = "low";
		};
		12va-det {
			label = "12va-det";
			gpios = <&gpio3 5 GPIO_ACTIVE_HIGH>;
			direction = "input";
		};
		12vb-det {
			label = "12vb-det";
			gpios = <&gpio3 6 GPIO_ACTIVE_HIGH>;
			direction = "input";
		};
		12v-det {
			label = "12v-det";
			gpios = <&gpio3 7 GPIO_ACTIVE_HIGH>;
			direction = "input";
		};
		fan {
			label = "fan";
			gpios = <&gpio0 29 GPIO_ACTIVE_HIGH>;
			direction = "low";
		};
	};

	gpioi2c1: i2c-1 {
		status = "okay";
		compatible = "i2c-gpio";
		sda-gpios = <&gpio0 RK_PB3 GPIO_ACTIVE_HIGH>;
		scl-gpios = <&gpio0 RK_PB4 GPIO_ACTIVE_HIGH >;
		pinctrl-names = "default";
		pinctrl-0 = <&i2c1_xfer>;
		i2c-gpio,delay-us = <5>;	/* ~100 kHz */
		#address-cells = <1>;
		#size-cells = <0>;

		eeprom@50 {
			compatible = "atmel,24c04";
			reg = <0x50>;
			pagesize = <16>;
		};
	};

	gpioi2c2: i2c-2 {
		status = "okay";
		compatible = "i2c-gpio";
		sda-gpios = <&gpio0 RK_PB6 GPIO_ACTIVE_HIGH>;
		scl-gpios = <&gpio0 RK_PB5 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&i2c2m0_xfer>;
		i2c-gpio,delay-us = <5>;	/* ~100 kHz */
		#address-cells = <1>;
		#size-cells = <0>;
	};

	gpioi2c5: i2c-5 {
		status = "okay";
		compatible = "i2c-gpio";
		sda-gpios = <&gpio3 RK_PB4 GPIO_ACTIVE_HIGH>;
		scl-gpios = <&gpio3 RK_PB3 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&i2c5m0_xfer>;
		i2c-gpio,delay-us = <5>;	/* ~100 kHz */
		#address-cells = <1>;
		#size-cells = <0>;
		hym8563: hym8563@51 {
			compatible = "haoyu,hym8563";
			reg = <0x51>;
		};
	};

	vcc3v3_sys: vcc3v3-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&dc_12v>;
	};

	vcc5v0_sys: vcc5v0-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&dc_12v>;
	};

	vcc5v0_usb: vcc5v0-usb {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_usb";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&dc_12v>;
	};

	
};


/delete-node/ &pdm;
/delete-node/ &spdif;
/delete-node/ &i2c3;
/delete-node/ &i2c4;
/delete-node/ &sfc;
/delete-node/ &i2s0_8ch;
/delete-node/ &i2s1_8ch;
/delete-node/ &i2s2_2ch;
/delete-node/ &i2s3_2ch;
/delete-node/ &spi0;
/delete-node/ &spi1;
/delete-node/ &spi2;
/delete-node/ &spi3;
/delete-node/ &can0;
/delete-node/ &can1;
/delete-node/ &can2;
/delete-node/ &hdmi_sound;
/delete-node/ &hdmi;
/delete-node/ &pcie2x1;
/delete-node/ &pcie3x1;
/delete-node/ &pcie3x2;
/delete-node/ &pwm0;
/delete-node/ &pwm1;
/delete-node/ &pwm2;
/delete-node/ &pwm3;
/delete-node/ &pwm4;
/delete-node/ &pwm5;
/delete-node/ &pwm6;
/delete-node/ &pwm7;
/delete-node/ &pwm8;
/delete-node/ &pwm9;
/delete-node/ &pwm10;
/delete-node/ &pwm11;
/delete-node/ &pwm12;
/delete-node/ &pwm13;
/delete-node/ &pwm14;
/delete-node/ &pwm15;


&scmi {
	status = "disabled";
};


&cpu0 {
	cpu-supply = <&vdd_cpu>;
};

&cpu1 {
	cpu-supply = <&vdd_cpu>;
};

&cpu2 {
	cpu-supply = <&vdd_cpu>;
};

&cpu3 {
	cpu-supply = <&vdd_cpu>;
};

&uart0 {
	status = "okay";
	pinctrl-0 = <&uart0_xfer &com1_de>;
	rs485-term-gpios = <&gpio0 RK_PC3 GPIO_ACTIVE_HIGH>;
	rs485-rx-during-tx;
	linux,rs485-enabled-at-boot-time;
};

&uart2 {
	status = "okay";
};

&uart3 {
	status = "okay";
	pinctrl-0 = <&uart3m1_xfer &com2_de>;
	rs485-term-gpios = <&gpio3 RK_PA4 GPIO_ACTIVE_HIGH>;
	rs485-rx-during-tx;
	linux,rs485-enabled-at-boot-time;
};

&uart4 {
	status = "okay";
	pinctrl-0 = <&uart4m1_xfer &com3_de>;
	rs485-term-gpios = <&gpio3 RK_PB6 GPIO_ACTIVE_HIGH>;
	rs485-rx-during-tx;
	linux,rs485-enabled-at-boot-time;
};

&uart5 {
	status = "okay";
	pinctrl-0 = <&uart5m1_xfer &com4_de>;
	rs485-term-gpios = <&gpio4 RK_PD2 GPIO_ACTIVE_HIGH>;
	rs485-rx-during-tx;
	linux,rs485-enabled-at-boot-time;
};

&uart8 {
	status = "okay";
	pinctrl-0 = <&uart8m1_xfer &com5_de>;
	rs485-term-gpios = <&gpio3 RK_PA3 GPIO_ACTIVE_HIGH>;
	rs485-rx-during-tx;
	linux,rs485-enabled-at-boot-time;
};

&uart9 {
	status = "okay";
	pinctrl-0 = <&uart9m1_xfer &com6_de>;
	rs485-term-gpios = <&gpio4 RK_PC2 GPIO_ACTIVE_HIGH>;
	rs485-rx-during-tx;
	linux,rs485-enabled-at-boot-time;
};



&i2c0 {
	status = "okay";

	tca6424: gpio@22 {
		compatible = "ti,tca6424";
		reg = <0x22>;
		gpio-controller;
		#gpio-cells = <2>;
	};

	vdd_cpu: regulator@1c {
		compatible = "tcs,tcs4525";
		reg = <0x1c>;
		fcs,suspend-voltage-selector = <1>;
		regulator-name = "vdd_cpu";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <800000>;
		regulator-max-microvolt = <1150000>;
		regulator-ramp-delay = <2300>;
		vin-supply = <&vcc5v0_sys>;

		regulator-state-mem {
			regulator-off-in-suspend;
		};
	};

	rk809: pmic@20 {
		compatible = "rockchip,rk809";
		reg = <0x20>;
		interrupt-parent = <&gpio0>;
		interrupts = <RK_PA3 IRQ_TYPE_LEVEL_LOW>;
		#clock-cells = <1>;
		pinctrl-names = "default";
		pinctrl-0 = <&pmic_int>;
		rockchip,system-power-controller;
		vcc1-supply = <&vcc3v3_sys>;
		vcc2-supply = <&vcc3v3_sys>;
		vcc3-supply = <&vcc3v3_sys>;
		vcc4-supply = <&vcc3v3_sys>;
		vcc5-supply = <&vcc3v3_sys>;
		vcc6-supply = <&vcc3v3_sys>;
		vcc7-supply = <&vcc3v3_sys>;
		vcc8-supply = <&vcc3v3_sys>;
		vcc9-supply = <&vcc3v3_sys>;
		wakeup-source;

		regulators {
			vdd_logic: DCDC_REG1 {
				regulator-name = "vdd_logic";
				regulator-always-on;
				regulator-boot-on;
				regulator-initial-mode = <0x2>;
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1350000>;
				regulator-ramp-delay = <6001>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdd_gpu: DCDC_REG2 {
				regulator-name = "vdd_gpu";
				regulator-always-on;
				regulator-initial-mode = <0x2>;
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1350000>;
				regulator-ramp-delay = <6001>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_ddr: DCDC_REG3 {
				regulator-name = "vcc_ddr";
				regulator-always-on;
				regulator-boot-on;
				regulator-initial-mode = <0x2>;

				regulator-state-mem {
					regulator-on-in-suspend;
				};
			};

			vdd_npu: DCDC_REG4 {
				regulator-name = "vdd_npu";
				regulator-initial-mode = <0x2>;
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1350000>;
				regulator-ramp-delay = <6001>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_1v8: DCDC_REG5 {
				regulator-name = "vcc_1v8";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdda0v9_image: LDO_REG1 {
				regulator-name = "vdda0v9_image";
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <900000>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdda_0v9: LDO_REG2 {
				regulator-name = "vdda_0v9";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <900000>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdda0v9_pmu: LDO_REG3 {
				regulator-name = "vdda0v9_pmu";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <900000>;

				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <900000>;
				};
			};

			vccio_acodec: LDO_REG4 {
				regulator-name = "vccio_acodec";
				regulator-always-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vccio_sd: LDO_REG5 {
				regulator-name = "vccio_sd";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc3v3_pmu: LDO_REG6 {
				regulator-name = "vcc3v3_pmu";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;

				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <3300000>;
				};
			};

			vcca_1v8: LDO_REG7 {
				regulator-name = "vcca_1v8";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcca1v8_pmu: LDO_REG8 {
				regulator-name = "vcca1v8_pmu";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;

				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1800000>;
				};
			};

			vcca1v8_image: LDO_REG9 {
				regulator-name = "vcca1v8_image";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_3v3: SWITCH_REG1 {
				regulator-name = "vcc_3v3";
				regulator-always-on;
				regulator-boot-on;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc3v3_sd: SWITCH_REG2 {
				regulator-name = "vcc3v3_sd";
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};
		};

		
	};
};

&i2c1_xfer {
	rockchip,pins =
		/* i2c1_scl */
		<0 RK_PB3 RK_FUNC_GPIO &pcfg_pull_up_drv_level_15>,
		/* i2c1_sda */
		<0 RK_PB4 RK_FUNC_GPIO &pcfg_pull_up_drv_level_15>;
};


&i2c2m0_xfer {
	rockchip,pins =
		/* i2c1_scl */
		<0 RK_PB5 RK_FUNC_GPIO &pcfg_pull_up_drv_level_15>,
		/* i2c1_sda */
		<0 RK_PB6 RK_FUNC_GPIO &pcfg_pull_up_drv_level_15>;
};


&i2c5m0_xfer {
	rockchip,pins =
		/* i2c5_scl */
		<3 RK_PB3 RK_FUNC_GPIO &pcfg_pull_up_drv_level_15>,
		/* i2c5_sda */
		<3 RK_PB4 RK_FUNC_GPIO &pcfg_pull_up_drv_level_15>;
};

&pinctrl {
	led {
		led_heartbeat: led-heartbeat {
			rockchip,pins = <4 RK_PC4 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};
	pmic {
		pmic_int: pmic-int {
			rockchip,pins = <0 RK_PA3 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};
	rs485 {
		com1_de: com1_de {
			rockchip,pins = <0 RK_PC3 RK_FUNC_GPIO &pcfg_pull_up>;
		};
		com2_de: com2_de {
			rockchip,pins = <3 RK_PA4 RK_FUNC_GPIO &pcfg_pull_up>;
		};
		com3_de: com3_de {
			rockchip,pins = <3 RK_PB6 RK_FUNC_GPIO &pcfg_pull_up>;
		};
		com4_de: com4_de {
			rockchip,pins = <4 RK_PD2 RK_FUNC_GPIO &pcfg_pull_up>;
		};
		com5_de: com5_de {
			rockchip,pins = <3 RK_PA3 RK_FUNC_GPIO &pcfg_pull_up>;
		};
		com6_de: com6_de {
			rockchip,pins = <4 RK_PC2 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

};

&pmu_io_domains {
	pmuio1-supply = <&vcc3v3_pmu>;
	pmuio2-supply = <&vcc3v3_pmu>;
	vccio1-supply = <&vccio_acodec>;
	vccio2-supply = <&vcc_1v8>;
	vccio3-supply = <&vccio_sd>;
	vccio4-supply = <&vcc_1v8>;
	vccio5-supply = <&vcc_3v3>;
	vccio6-supply = <&vcc_1v8>;
	vccio7-supply = <&vcc_3v3>;
	status = "okay";
};

&sdhci {
	bus-width = <8>;
	max-frequency = <200000000>;
	non-removable;
	cap-mmc-highspeed;
	mmc-hs200-1_8v;
	pinctrl-names = "default";
	pinctrl-0 = <&emmc_bus8 &emmc_clk &emmc_cmd &emmc_datastrobe>;
	vmmc-supply = <&vcc_3v3>;
	vqmmc-supply = <&vcc_1v8>;
	status = "okay";
};

&sdmmc0 {
	bus-width = <4>;
	cap-sd-highspeed;
	cap-mmc-highspeed;
	no-sdio;
	no-mmc;
	broken-cd;
	disable-wp;
	sd-uhs-sdr104;
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc0_bus4 &sdmmc0_clk &sdmmc0_cmd>;
	vmmc-supply = <&vcc3v3_sd>;
	vqmmc-supply = <&vccio_sd>;
	status = "okay";
};




&mdio0 {
	rgmii_phy0: ethernet-phy@0 {
		max-speed = <100>;
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x0>;
		reset-assert-us = <20000>;
		reset-deassert-us = <100000>;
		reset-gpios = <&gpio2 RK_PD3 GPIO_ACTIVE_LOW>;
	};
};

&mdio1 {
	rgmii_phy1: ethernet-phy@0 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x0>;
		reset-assert-us = <20000>;
		reset-deassert-us = <100000>;
		reset-gpios = <&gpio2 RK_PD1 GPIO_ACTIVE_LOW>;
	};
};

&gmac0 {
	assigned-clocks = <&cru SCLK_GMAC0_RX_TX>, <&cru SCLK_GMAC0>;
	assigned-clock-parents = <&cru SCLK_GMAC0_RGMII_SPEED>;
	assigned-clock-rates = <0>, <125000000>;
	clock_in_out = "output";
	phy-handle = <&rgmii_phy0>;
	phy-mode = "rgmii-id";
	pinctrl-names = "default";
	pinctrl-0 = <&gmac0_miim
		     &gmac0_tx_bus2
		     &gmac0_rx_bus2
		     &gmac0_rgmii_clk
		     &gmac0_rgmii_bus>;
	tx_delay = <0x0>;
	rx_delay = <0x0>;
	status = "okay";
};

&gmac1 {
	assigned-clocks = <&cru SCLK_GMAC1_RX_TX>, <&cru SCLK_GMAC1>;
	assigned-clock-parents = <&cru SCLK_GMAC1_RGMII_SPEED>;
	assigned-clock-rates = <0>, <125000000>;
	clock_in_out = "output";
	phy-handle = <&rgmii_phy1>;
	phy-mode = "rgmii-id";
	pinctrl-names = "default";
	pinctrl-0 = <&gmac1m1_miim
		     &gmac1m1_tx_bus2
		     &gmac1m1_rx_bus2
		     &gmac1m1_rgmii_clk
		     &gmac1m1_rgmii_bus>;
	tx_delay = <0x0>;
	rx_delay = <0x0>;
	status = "okay";
};

&combphy0 {
	status = "okay";
};

&combphy1 {
	status = "okay";
};

&combphy2 {
	status = "okay";
};

&usb_host0_ehci {
	status = "okay";
};

&usb_host0_ohci {
	status = "okay";
};

&usb_host0_xhci {
	dr_mode = "host";
	extcon = <&usb2phy0>;
	status = "okay";
};

&usb_host1_ehci {
	status = "okay";
};

&usb_host1_ohci {
	status = "okay";
};

&usb_host1_xhci {
	status = "okay";
};

&usb2phy0 {
	status = "okay";
};

&usb2phy0_host {
	status = "okay";
};

&usb2phy0_otg {
	status = "okay";
};

&usb2phy1 {
	status = "okay";
};

&usb2phy1_host {
	status = "okay";
};

&usb2phy1_otg {
	status = "okay";
};


&sata2 {
	status = "okay";
};